<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>Controller.Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users1</servlet-name>
        <servlet-class>Controller.Users1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gpcreation</servlet-name>
        <servlet-class>Model.gpcreation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users1</servlet-name>
        <url-pattern>/Users1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gpcreation</servlet-name>
        <url-pattern>/gpcreation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
